@import "utilities.css";

*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;    
}
.upper{
    margin: 0;
    padding: 0;
    width: 1370.5px;
    height: 640px;
    background-color: #252525;
}

nav .left a{
    text-decoration: none;
    font-family: monospace;
    font-size: 20px;
    margin-right: 2rem;
    color: white;
    cursor: pointer;
  }
  
nav{
    padding: 1rem 0rem;
    padding-left: 5rem;
  }
  
nav .logo{
    font-family: monospace;
    font-size: 20px;
    color: #f7bd53;
    cursor: pointer;
    margin-right: 50rem;
  }

.wave{
    position: relative;
    margin-top: 50px;
}
.cloud1{
    position: absolute;
    left: 30%;
    top: 9%;
}
.cloud2{
    position: absolute;
    left: 60%;
    top: 20%;
}
.cloud3{
    position: absolute;
    left: 50%;
    top: 10%;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0;
  }
.hero{
    position: absolute;
    top: 30%;
    left: 70%;
}
.hero img{
    height: 400px;
}

.text{
    position: absolute;
    top: 45%;
    left: 10%;
    width: 500px;
    height: 100px;
}

.text .sar h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 30px;
    color: #ffe346;
}

.text .dhad h3{
    font-family: 'Times New Roman', Times, serif;
    color: #fffc46;
    font-size: 71px;
    margin-bottom: 20px;
}

.text .peer p{
    font-family: monospace;
    font-weight: 100;
    font-size: 20px;
    color: antiquewhite;
    margin-bottom: 20px;
}
.text .btn button{
    width: 100px;
    height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    border-radius: 25px;
    border: 2px solid #fff126;
    background-color: transparent;
    color: #fff126;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-bottom: 10px;
}

.text .btn button:hover{
    color:#252525;
    background-color: #fff126;
    border: 2px solid #252525;
}

.column {
    float: left;
    width: 20%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {
      margin: 0 -5px;
      align-items: center;
      margin-left: 170px;
      margin-bottom: 40px;
    }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    height: 160px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    background-color: #f1f1f1;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      align-items: center;
      margin-bottom: 20px;
    }
  }

.history{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.icon1{
    border-radius: 50px;
    width: 60px;
    margin-left: 37%;
    text-align: center;
    margin-bottom: 20px;
    background-color: #252525;
}
.icon1 img{
    height: 52px;
    width: 52px;
}

.text1 a{
  text-decoration: none;
  font-style: none;
}
.text1 h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 100;
    color: black;
    text-decoration: none;
    font-style: none;
}
.card:hover{
    background-color: #FF5733;
    opacity: 0.9;
}

.gallery{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin-top: 5rem;
    padding-top: 5rem;
    background-color: #252525;
    height: 700px;
    width: 1370.5px;
}
.gallery h1{
    color: #f1f1f1;
}

.container
{
  width: 100%;
  height: 100%;
}
.trans
{
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
}
.top
{
  display: flex;
  width: 80vw;
  height: 80vh;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10vh;
}
.top ul
{
  list-style: none;
  width: 100%;
  height: 100%;
  z-index: 1;
  box-sizing: border-box;
}
.top ul li
{
  position: relative;
  float: left;
  width: 25%;
  height: 25%;
  overflow: hidden;
}

.top ul li::before
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  content: '';
  color: white;
  opacity: 0.4;
  text-align: center;
  box-sizing: border-box;
  pointer-events: none;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.top ul li:hover::before
{
  opacity: 0;
  background-color: rgba(0,0,0,0.90);
}
.top ul li img
{
  width: 100%;
  height: auto;
  overflow: hidden;
}
.lightbox
{
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.75);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
}
.lightbox img
{
  max-width: 90%;
  max-height: 80%;
  position: relative;
  top: -100%;
  /* Transition */
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
}
.lightbox:target
{
  outline: none;
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -ms-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  -webkit-transition: all 1.2s ease;
}
.lightbox:target img
{
  top: 0;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}



@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);


.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: " ";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}